body{
    background: url(../img/grid_view.jpg);
    margin:auto;
    padding: 0;
    font-family: Helvetica;
    font-size: 14px !important;
} 

.logo_name{
    color: #2F3F67;
    font-size: 14px;
}
/* logo and social icons */
.logo_content{
    position: relative;
}
.social_logos1{
    position: absolute;
    top: 35% !important;
    right: 110px;
    padding: 2px;
}
.social_logos2{
    position: absolute;
    top: 35% !important;
    right: 80px;
    padding: 2px;
}
.social_logos3{
    position: absolute;
    top: 35% !important;
    right: 50px;
    padding: 2px;
}
.social_logos4{
    position: absolute;
    top: 35% !important;
    right: 20px;
    padding: 2px;
}
/* Logo and Social Icons Closed */

/* Navbar Open */
.nav-background{
    background-color: #fff;
    opacity: 90%;
}
/* Navbar Close */
nav ul li a{
    font-size: 14px;
    padding: 12px;
}
/* carousel image open */
.carousel_title{
    text-align: center;
    margin-top: 20px;
}
/* Carousel image close */

/* paragraph open */
.paragraph_content{
    text-align: justify;
}
.para{
    text-align: end;
}
/* Paragraph Close */

/* Short Notice Open */
.short_notice{
    text-align: center;
}
 /* Short Notice Closed */

 /* Sports Name List from Activities Opened */
.numbered_list li{
    list-style: number;
    padding: 5px;
}

 /* Sports Name List from Activities Closed */